<?xml version="1.0" ?>
<routes>
    <route>
        <name>Long Route</name>
        <waypoint>
            <position>0</position>
            <id>0</id>
        </waypoint>
        <waypoint>
            <position>1</position>
            <id>1</id>
        </waypoint>
        <waypoint>
            <position>2</position>
            <id>2</id>
        </waypoint>
        <waypoint>
            <position>3</position>
            <id>3</id>
        </waypoint>
        <waypoint>
            <position>4</position>
            <id>4</id>
        </waypoint>
        <waypoint>
            <position>5</position>
            <id>5</id>
        </waypoint>
        <waypoint>
            <position>6</position>
            <id>6</id>
        </waypoint>
        <waypoint>
            <position>7</position>
            <id>7</id>
        </waypoint>
        <waypoint>
            <position>8</position>
            <id>8</id>
        </waypoint>
        <waypoint>
            <position>9</position>
            <id>9</id>
        </waypoint>
    </route>
    <route>
        <name>Short Route</name>
        <waypoint>
            <position>0</position>
            <id>1</id>
        </waypoint>
        <waypoint>
            <position>1</position>
            <id>2</id>
        </waypoint>
        <waypoint>
            <position>2</position>
            <id>3</id>
        </waypoint>
        <waypoint>
            <position>3</position>
            <id>4</id>
        </waypoint>
        <waypoint>
            <position>4</position>
            <id>5</id>
        </waypoint>
        <waypoint>
            <position>5</position>
            <id>6</id>
        </waypoint>
        <waypoint>
            <position>6</position>
            <id>7</id>
        </waypoint>
        <waypoint>
            <position>7</position>
            <id>8</id>
        </waypoint>
    </route>
</routes>